---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<h1>Frontend Mentor Solution</h1>
	<ul class="list-disc list-inside p-2">
		<li><a href="/recipe-page">Recipe Page</a></li>
		<li><a href="/faq-accordion">FAQ Accordion</a></li>
	</ul>
</BaseLayout>
