---
const {
	title = 'Frontend Mentor Project',
	description = 'My List of Frontend Mentor Solutions',
} = Astro.props;

interface Props {
	title?: string;
	description?: string;
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<slot name="fonts" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
